.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
}

h2 {
  font-family: "Barlow Semi Condensed";
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
